div.emailForm{

    min-height: 400px;
    margin-bottom: 4rem;
    margin-top: 4rem;
    max-width: 600px;
    text-align: center;

    p.header {
        color: #555;
        font-size: 2rem;
        font-weight: 700;
    }

    .submitBtn {
        background: #2b2d2f;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font: 700 1.25rem/1 poppins;
        height: 80px;
        left: 0;
        margin: 0 auto;
        right: 0;
        text-align: center;
        width: 200px;
    }
}